@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.player-container {
  display: flex;
  margin-top: 10px;
}
.player-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0px 10px;
  border-right: 1px solid lightgray;
}
.hire-section {
  width: 20%;
}
.textCenter {
  text-align: center;
  margin: 20px;
}
